@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://allfont.net/allfont.css?fonts=comic-sans-ms);


.App {
  text-align: center;
}

.header{
  padding: 2em;
}

h1{
  font-weight: 900;
  font-family: 'Comic Sans MS', arial;
}

.imageContainer{
  padding: 2em;
}

.image{
  padding: .5em;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}